@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .pause {
    animation-play-state: paused;
  }
}

body {
  background: black;
  overscroll-behavior-y: none;
}

#noise {
  background-image: '/public/noise.svg';
}
